APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:xKcM4akMpwpAeJHoexvw92u29JQWkT7a5RNjI5ofKIQ=
APP_DEBUG=true
APP_URL=YOUR_URL

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=YOUR_DATABASE
DB_USERNAME=YOUR_DATABASE
DB_PASSWORD=YOUR_DATABASE

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MAIL_MAILER=brevo
BREVO_API_KEY=YOUR_MAIL_CONFIG
MAIL_FROM_ADDRESS=YOUR_MAIL_CONFIG
MAIL_FROM_NAME=YOUR_MAIL_CONFIG

RECAPTCHA_SITE_KEY=YOUR_CAPTCHA
RECAPTCHA_SECRET_KEY=YOUR_CAPTCHA

ADMIN_INTERNAL_CODE=admin123
PROF_INTERNAL_CODE=prof123